*~
*.cm*
*.annot
*.o
*.zci
*.byte
*.a
*.depend
*.opt
*.camldebug
*.compilation
*.translation
*.#*
*#
*.ok
a.out
*.log
*.nav
*.out
*.snm
*.vrb
*.tmp
config
config.log
META
compiler/parsing/lexer.ml
compiler/parsing/parser.ml*
lib/defaultsolver.ml
lib/dump.ml
lib/symb.ml
lib/scope.ml
lib/obs.ml
lib/gen.ml
tools/diff_log
tools/zltohtml*
bin/zeluc
test/good/*.ml
test/bad/*.ml
