*~
*.cm*
*.annot
*.o
*.zci
*.byte
*.a
*.depend
*.opt
config
config.log
META
compiler/parsing/lexer.ml
compiler/parsing/parser.ml*
lib/defaultsolver.ml
lib/dump.ml
lib/symb.ml
tools/diff_log
tools/zltohtml*
bin/zeluc