pre.zelus                   { color: black; }
pre.zelus span.keyword      { color: #46a546; }
pre.zelus span.character    { color: #ff6633; }
pre.zelus span.string       { color: #ff6633; }

pre.zelus span.constant     { color: #6666ff; }
pre.zelus span.constructor  { color: #9d261d; }
pre.zelus span.expr         { color: #049cdb; }
pre.zelus span.identifier   { }
pre.zelus span.module       { color: #ff9933; }
pre.zelus span.number       { }
pre.zelus span.operator     { }

pre.zelus span.comment { color: #585858; }
pre.zelus span.comment span.string { color: #585858; }
pre.zelus span.comment span.character { color: #585858; }

