
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

img { display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: auto;
      margin-right: auto; }


body {
    padding-top: 60px;
    padding-bottom: 40px;
}

pre {
    background-color: #fffbe6;
    color: #000000;
    font-size: 90%;
    line-height: 120%;
}

blockquote p {
    font-size: small;
    font-style: italic;
}

p {
    text-align: justify;
}

.maintext {
    max-width: 52em;
    text-align: justify;
}

code {
    background-color: #ffffff;
    color: #000000;
    border: none;
    font-size: 100%;
    font-family: Cabin, sans-serif;
}

body.manual code {
    font-size: 105%;
    line-height: 130%;
}

body.manual pre.zelus {
    padding-top: 1ex;
}

body.manual p + pre.zelus {
    padding-top: 0ex;
}

.important-button {
    width: 100%;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 3em;
}

.sourcefile .accordion-body {
    padding: 0px;
    background-color: #fffbe6;
}

.sourcefile .accordion-heading {
    background-color: #ffe980;
}

.sourcefile .accordion-inner {
    padding: 0px;
    margin: 0px;
}

.sourcefile .accordion-inner pre {
    border: none;
}

.btn-primary {
    margin: 8pt;
}

@media print {
    .sourcefile .accordion-group .accordion-body.collapse {
        height: auto;
        font-size: smaller;
    }

    .bibref {
        display: block;
    }
}

p.muted {
    font-weight: normal;
    font-size: smaller;
}

p.muted a {
    color: inherit;
}

well.requirements {
}

h2.section:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0; 
} /* correct anchor offset */

.example-section:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0; 
} /* correct anchor offset */

.experiment-section:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0; 
} /* correct anchor offset */

.biblink:before {
    display: block;
    content: "";
    height: 60px;
    margin: -60px 0 0; 
} /* correct anchor offset */

a.biblink {
    display: block;
}

.bibref + .bibref { padding-left: .8em; }

a.biblink:hover {
    text-decoration: none;
    color: #a48800;
}

.bib .abstract {
    color: #584900;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
}

ul ul {
    padding-bottom: 1ex;
}

dd {
    padding-bottom: 2em;
}

address a {
    white-space: nowrap;
    overflow: hidden;
}

/* HeVeA Generated Manual Pages */

blockquote.heveainfo {
    padding-top: 5em;
    font-size: x-small;
    border: none;
}

div.manualtitle h1 {
    text-align: center;
}

div.manualtitle h2 {
    text-align: center;
}

div.manualtitle div.date {
    font-style: italic;
    text-align: center;
}

div.manualtitle div.address {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

div.manualtitle ul.authors {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 2ex;
    padding-bottom: 2ex;
    font-size: larger;
    text-align: center;
    list-style-type: none;
}

div.manualtitle ul.authors li.first {
    padding-bottom: 1em;
}

h1.chapter {
    text-align: left;
}

h2.section, h2.subsection, h2.subsubsection {
    text-align: left;
}

h3.section, h3.subsection, h3.subsubsection {
    text-align: left;
}

.chapter:before {
    display: block;
    content: "";
    height: 60px;
    margin: -60px 0 0; 
} /* correct anchor offset */

.section:before {
    display: block;
    content: "";
    height: 60px;
    margin: -60px 0 0; 
} /* correct anchor offset */

.subsection:before {
    display: block;
    content: "";
    height: 60px;
    margin: -60px 0 0; 
} /* correct anchor offset */

.lstlisting {
    font-family: monospace;
    white-space: pre;
    margin-right: auto;
    margin-left: 1em;
    margin-bottom: 2ex;
    text-align: left
}

.runverbatimmsg {
    padding-top: 1ex;
    font-style: italic;
    font-size: 85%;
}

p + .runverbatimmsg {
    padding-top: 0ex;
}

.runverbatimerr {
    padding-top: 1ex;
    font-style: italic;
    font-size: 85%;
}

p + .runverbatimerr {
    padding-top: 0ex;
}

div.zelusprompt {
    padding-top: 1ex;
}

p + div.zelusprompt {
    padding-top: 0ex;
}

body.manual pre {
    background-color: white;
    color: none;
    font-size: 90%;
    line-height: 100%;
    border: 0pt;
    padding-left: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.chrono td { min-width: 2em; }
div.chrono {
    padding-top: 1ex;
    padding-bottom: 2ex;
}
div.center hr {
    margin-left: auto;
    margin-right: auto;
}
div.center table {
    margin-left: auto;
    margin-right: auto;
}

blockquote.figure {
    border: none;
    background-color: none;
}

@media (min-width: 767px) {
    dl.thefootnotes {
    }
    dl.thefootnotes dt {
        width: 2em;
    }
    dl.thefootnotes dd {
        margin-left: 3em;
    }

    dl.thebibliography {
    }
    dl.thebibliography dt {
        width: 2em;
    }
    dl.thebibliography dd {
        margin-left: 3em;
    }
}

hr.footnoterule {
    border-top: none;
    border-bottom: solid 2px;
    padding-top: 4em;
    border-color: #a48800;
    width: 50%;
}

.caption {
    padding-left: 2ex;
    padding-right: 2ex;
    margin-left: auto;
    margin-right: auto;
}

.caption table {
    margin-left: auto;
    margin-right: auto;
}

/* CUSTOMIZE THE SIDE BAR
-------------------------------------------------- */

.sidebar-nav { margin-top: 20px; }

ul.nav hr {
    margin-top: .5ex;
    margin-bottom: .5ex;
    border-color: #a48800;
}

.sidebar-nav {
    padding: 9px 0;
    width: 16em;
}

.sidebar-nav a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1200px) {
    .sidebar-nav {
        width: 18em;
    }
}

@media (max-width: 979px) {
    .sidebar-nav {
        width: 11em;
    }
}

@media (max-width: 767px) {
    .sidebar-nav.affix {
        position: static;
        width: auto;
    }
}

.sidebar-nav-header {
  padding-right: 20px;
  padding-left: 20px;

  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #312900;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .sidebar-nav-header {
  margin-top: 9px;
}

.nav-list .sidebar-nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {

}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 10px;
}

.carousel .container {
  width: 100%;
  position: absolute;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 20px;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 450px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px;
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(255,233,128,.7);
  position: static;
  width: 100%;
  padding: 0 10px 10px 10px;
  margin-top: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #000;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  text-align: center;
}
.carousel-caption .lead {
    font-size: 32px;
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -10px 0;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }

}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -15px -20px -25px -5px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }

  .carousel .container {
  }

  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    padding: 0 10px 10px 10px;
    margin-top: 10px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .navbar-inner .brand {
    padding-bottom: 0px;
  }
}

